<form class="text-center" method="post" th:action="@{/login}">

    <p>Введите имя пользователя и пароль. Для регистрации обратитесь к администратору</p>
    <div class="row" th:if="${param.error}">
        <div class="col-md-3"></div>
        <div class=" col-md-6 alert alert-danger custom-alert">
            Invalid username and/or password.
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" th:if="${param.logout}">
        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-info custom-alert">
            You have been logged out.
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Name -->
    <div class="md-form mt-3 row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <input type="text" id="username" class="form-control" name="username" required>
            <label for="username">Username</label>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- E-mai -->
    <div class="md-form row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <input type="password" id="password" class="form-control" name="password" required>
            <label for="password">Password</label>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Sign in button -->
    <input type="submit" value="Login" name="login" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" />

</form>